.headcontainer /*หัวชื่อ */ {
    max-width: 100%;
    --bs-table-bg: #e18506;
    font-family: 'Cordia New' ; 
    font-size: 50px;
  }

.secheadtable /*รองหัวเรื่อง */ {
    --bs-table-bg: #fccb89;
    font-size: 42px;
    font-family: 'Cordia New' ; 
    font-weight: bold;
}
.botheadtable{ /*หัวเรื่องแต่ละข้อ */ 
    --bs-table-bg: #fddcaf;
    font-size: 32px;
    font-family: 'Cordia New' ; 
    font-weight: bold;
}

.table th, /*ปรับให้ข้อความในตารางอยู่ตรงกลาง */ 
.table td {
  text-align: center;
 
}

.lightorange1{ /*สีส้มอ่อนในตาราง*/ 
    --bs-table-bg: #feeed7;
    font-size: 28px;
    font-family: 'Cordia New' ; 
}
.darkorange1{  /*สีส้มเข้มในตาราง */ 
    --bs-table-bg: #fddcaf;
    font-size: 28px;
    font-family: 'Cordia New' ; 
}
.lightgreen1{ /*สีเขียวอ่อน */ 
    --bs-table-bg: #eff5e9;
    font-size: 28px;
    font-family: 'Cordia New' ; 
}
.darkgreen1{/*สีเขียวเข้มในตาราง */ 
    --bs-table-bg: #deedd0;
    font-size: 28px;
    font-family: 'Cordia New' ; 
}
.table {
  border: 2px solid white; /* เส้นขอบของตารางทั้งหมดเป็นสีขาว */
}